<!DOCTYPE html>
<html>
<head>
    <!--homepage of website-->
    <!--submitted view-----Pahul hallan, shaffi khurana, harkamal kaur, sachindeep singh-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Restraunt", "Index", "Home", new { area = "" }, new { @class = "navbar navbar-brand " })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-cutlery" aria-hidden="true"></i>
                            Menu<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "VegetrationCurry")">Vegetraion</a></li>
                            <li><a href="@Url.Action("Index", "NonVegCurry")">Non-Vegetration</a></li>
                            <li><a href="@Url.Action("Index", "Appetizer")">Appetizer</a></li>
                            <li><a href="@Url.Action("Index", "Desserts")">Desserts</a></li>

                        </ul>
                    </li>
                    @Html.Partial("_LoginPartial")
</div>
        </div>
    </div>
    <div class="container body-content">
        <div class="a">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year -</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
