
@model IEnumerable<Project2.Models.Vegetration_curry>
@{
    ViewBag.Title = "VegetrationCurry";
}
<h2>Veg Food</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VegetrationCurryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VegetrationCurryDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VegetrationCurryPrice)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VegetrationCurryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VegetrationCurryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VegetrationCurryPrice)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.VegetrationCurryId }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }
</table>
