@model IEnumerable<Project2.Models.Non_veg_curry>
@{
    ViewBag.Title = "Admin Non_veg_curry";
}
<h2>Admin Non_veg_curry</h2>
<p>
    @Html.ActionLink("Create New Non_veg_curry", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Non_vegCurryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Non_vegCurryDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Non_vegCurryPrice)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Non_vegCurryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Non_vegCurryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Non_veg_curryPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Non_veg_curryId }) |
                @Html.ActionLink("Details", "Details", new { id = item.Non_veg_curryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Non_veg_curryId })
            </td>
        </tr>
    }
</table>
